<h1>New Debate</h1>
<%= form_with model: [@user, @debate] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit "Submit" %>
<% end %>